.main{
    text-align: center;
    padding: 50px 100px;
    input{
        width: 100%;
        margin-bottom: 10px;
    }
    .col-md-4{
      text-align: left;
    }
    select,button{
      width: 100%;
    }
}
textarea
{
  width:100%;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
}

